// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

mixin labeledInput(name, model, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            input.form-control(type=text, name=name, placeholder=placeholder, ng-model=model)
mixin labeledInputInline(name, model, placeholder)
    .form-group
        label= name + ':'
        input.form-control(type=text, name=name, placeholder=placeholder, ng-model=model)
mixin labeledTextArea(name, model, rows, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            textarea.form-control(type='text', rows=rows, name=name, placeholder=placeholder, ng-model=model)
mixin fullWidthTextArea(name, model, rows, placeholder)
    .form-group
        textarea.form-control(type='text', rows=rows, name=name, placeholder=placeholder, ng-model=model, ui-tinymce="tinymceOptions")

.row.l-section.result-content
    .col-xs-12
        button.btn.btn-danger.pull-right(type="submit" ng-click="view()" ng-class="{'btn-small' : viewport.xs}") Done
    .col-xs-12
        .row
            .col-xs-12.cat.decor
                legend.t-legend.t-title General
                form.form-horizontal(role="form")
                    +labeledInput('Name', 'userResource.Name', 'e.g. Doombringer')
                    +labeledInput('Source', 'userResource.Source', 'e.g. The Slayers of the Winter Witch')
                form.form-horizontal(role="form")
                    .row
                        .col-xs-12.col-sm-6
                            +labeledInput('CR', 'userResource.CR', 'e.g. 3')
                        .col-xs-12.col-sm-6
                            +labeledInput('XP', 'userResource.XP', 'e.g. 1200')
                form.form-horizontal(role="form")
                    +labeledTextArea("Visual Description", "userResource.Description_Visual", 5, "e.g. With eyes blazing red and magical runes glowing on its horns, this mighty beast has the body of a man and the head of a bull.")
                    +labeledInput("Gender", "userResource.Gender", "e.g. male")
                    +labeledInput("Race", "userResource.Race", "e.g. minotaur")
                    // FIXME: parse ClassString -> Classes
                    +labeledInput("Classes", "classesString", "e.g. Cleric of Urgathoa 3/Monk 2")
                    +labeledInput("Alignment", "userResource.Alignment", "e.g. CE")
                    +labeledInput("Size", "userResource.Size", "e.g. Large")
                    +labeledInput("Type", "userResource.Type", "e.g. Outsider")
                    +labeledInput("SubType", "userResource.SubType", "e.g. (native)")
                    +labeledInput("Init", "userResource.Init", "e.g. +4")
                    +labeledInput("Senses", "userResource.Senses", "e.g. darkvision 60 ft.; Perception +14")
                    +labeledInput("Aura", "userResource.Aura", "e.g. frightful presence (210 ft., DC 22)")
            .col-xs-12.cat.decor
                legend.t-legend.t-title Offense
                form.form-horizontal(role="form")
                    +labeledInput("Speed", "userResource.Speed", "e.g. 30 ft., fly 60 ft. (good)")
                    +labeledTextArea("Melee", "userResource.Melee", 3, "e.g. greataxe +9/+4 (3d6+6/x3) and gore +4 (1d6+2)")
                    +labeledTextArea("Ranged", "userResource.Ranged", 3, "e.g. 4 spikes +8 (1d6+5)")
                form.form-horizontal(role="form")
                    .row
                        .col-xs-12.col-sm-6
                            +labeledInput("Space", "userResource.Space", "e.g. 10 ft.")
                        .col-xs-12.col-sm-6
                            +labeledInput("Reach", "userResource.Reach", "e.g. 10 ft.")
                form.form-horizontal(role="form")
                    +labeledTextArea("Special Attacks", "userResource.SpecialAttacks", 3, "e.g. breath weapon (30-ft. cone, 6d6 fire damage plus fumes, Reflex DC 19 half, usable every 1d4 rounds)")
                    +labeledTextArea("Spells Known", "userResource.SpellsKnown", 6, "e.g. Sorcerer Spells Known (CL 3rd; concentration +5); 1st (5/day)-enlarge person, hypnotism (DC 14), magic missile, obscuring mist; 0 (at will)-arcane mark, detect magic, mage hand, mending, read magic")
                    +labeledInput("Bloodline", "userResource.Bloodline", "e.g. draconic (green)")
                    +labeledTextArea("Spells Prepared", "userResource.SpellsPrepared", 6, "e.g. Wizard Spells Prepared (CL 3rd; concentration +6); 2nd-mirror image, scorching ray; 1st-magic missile, shield, shocking grasp; 0-(at will)-daze (DC 13), detect magic, light, resistance")
                    +labeledTextArea("Spells-Like Abilities", "userResource.SpellLikeAbilities", 6, "e.g. Spell Like Abilities (CL 5th; concentration +6); 3/day—cause fear (DC 12), shatter (DC 13); 1/day—summon (level 1, 1 abrikandilu 50%) 0-(at will)-daze (DC 13), detect magic, light, resistance")
            .col-xs-12.decor
                legend.t-legend.t-title Defense
                form.form-horizontal(role="form")
                    +labeledInput("AC", "userResource.AC", "e.g. AC 13, touch 13, flat-footed 12")
                form.form-horizontal(role="form")
                    .row
                        .col-xs-12.col-sm-4
                            +labeledInput("HP", "userResource.HP", "e.g. 52")
                        .col-xs-12.col-sm-4
                            +labeledInput("HD", "userResource.HD", "e.g. (3d8+15)")
                        .col-xs-12.col-sm-4
                            +labeledInput("DR", "userResource.DR", "e.g. 5/cold iron")
                    .row
                        .col-xs-12.col-sm-4
                            +labeledInput("Fort", "userResource.Fort", "e.g. 4")
                        .col-xs-12.col-sm-4
                            +labeledInput("Ref", "userResource.Ref", "e.g. 2")
                        .col-xs-12.col-sm-4
                            +labeledInput("Will", "userResource.Will", "e.g. 3")
                form.form-horizontal(role="form")
                    +labeledInput("Immune", "userResource.Immune", "e.g. construct traits, magic")
                    +labeledInput("Resist", "userResource.Resist", "e.g. cold 10")
                form.form-horizontal(role="form")
                    .row
                        .col-xs-12.col-sm-9
                            +labeledInput("Weaknesses", "userResource.Weaknesses", "e.g. vulnerability to fire")
                        .col-xs-12.col-sm-3
                            +labeledInput("SR", "userResource.SR", "e.g. 11")
            .col-xs-12.decor
                legend.t-legend.t-title Statistics
                form.form-horizontal(role="form")
                    .row
                        .col-xs-12.col-sm-4
                            +labeledInput("Str", "userResource.Str", "e.g. 16")
                        .col-xs-12.col-sm-4
                            +labeledInput("Dex", "userResource.Dex", "e.g. 12")
                        .col-xs-12.col-sm-4
                            +labeledInput("Con", "userResource.Con", "e.g. 11")
                        .col-xs-12.col-sm-4
                            +labeledInput("Int", "userResource.Int", "e.g. 8")
                        .col-xs-12.col-sm-4
                            +labeledInput("Wis", "userResource.Wis", "e.g. 11")
                        .col-xs-12.col-sm-4
                            +labeledInput("Cha", "userResource.Cha", "e.g. 13")

                form.form-horizontal(role="form")
                    .row
                        .col-xs-12.col-sm-4
                            +labeledInput("BAB", "userResource.BaseAtk", "e.g. +7")
                        .col-xs-12.col-sm-4
                            +labeledInput("CMB", "userResource.CMB", "e.g. +5")
                        .col-xs-12.col-sm-4
                            +labeledInput("CMD", "userResource.CMD", "e.g. 14")
                form.form-horizontal(role="form")
                    +labeledTextArea("Feats", "userResource.Feats", 6, "e.g. Double Slice, Endurance, Toughness, Two-Weapon Defense, Two-Weapon Fighting, Weapon Focus (scimitar)")
                    +labeledTextArea("Skills", "userResource.Skills", 6, "e.g. Intimidate +11, Perception +9, Survival +9")
                    +labeledTextArea("Racial Modifiers", "userResource.RacialMods", 3, "e.g. +2 Perception and Sense Motive vs. half-fiends and tieflings")
                    +labeledInput("Languages", "userResource.Languages", "e.g. common, draconic, abyssal")
                    +labeledInput("SQ", "userResource.SQ", "e.g. Hold Breath (Ex), Change Shape (Su)")
            .col-xs-12.decor
                legend.t-legend.t-title Ecology
                form.form-horizontal(role="form")
                    +labeledInput("Environment", "userResource.Environment", "e.g. the Abyss")
                    +labeledInput("Organization", "userResource.Organization", "e.g. mob (4-7), brood (8-17)")
                    +labeledInput("Treasure", "userResource.Treasure", "e.g. standard")
            .col-xs-12.decor
                legend.t-legend.t-title Special Abilities
                +fullWidthTextArea("Special Abilities", "userResource.SpecialAbilities", 20, "e.g. Deflective Wings (Ex) As a standard action, an angelic guardian can spread its wings and protect a single adjacent creature from the next ranged attack. The next time the protected creature would normally be hit with an attack from a ranged attack, the attack is instead deflected and the protected creature takes no damage. An angelic guardian can only deflect one ranged attack per turn in this way. This effect lasts until the angelic guardian's next turn or until the protected creature leaves its square, whichever comes first; Metallic Feathers (Ex) An angelic guardian's wings are honed to razor-sharp edges, and attacks with them deal slashing damage instead of bludgeoning damage.")
            .col-xs-12.decor
                legend.t-legend.t-title Description
                +fullWidthTextArea("Description", "userResource.Description", 20, "e.g. Nothing holds a grudge like a minotaur. Scorned by the civilized races centuries ago and born from a deif ic curse, minotaurs have hunted, slain, and devoured lesser humanoids in retribution for real or imagined slights for as long as anyone can remember. Many cultures have legends of how the first minotaurs were created by vengeful or slighted gods who punished humans by twisting their forms, robbing them of their intellects and beauty, and giving them the heads of bulls. Yet most modern minotaurs hold these legends in contempt and believe that they are not divine mockeries but divine paragons created by a potent and cruel demon lord named Baphomet. The traditional minotaur's lair is a maze, be it a legitimate labyrinth constructed to baff le and confuse, an accidental one such as a city sewer system, or a naturally occurring one such as a tangle of caverns and other underground passageways. Employing their innate cunning, minotaurs use their maze lairs to vex unwary foes who seek them out or who simply stumble into the lairs and become lost, slowly hunting the intruders as they try in vain to find a way out.")

