// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

mixin labeledInput(name, model, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            input.form-control(type=text, name=name, placeholder=placeholder, ng-model=model)

mixin labeledInputInline(name, model, placeholder)
    .form-group
        label= name + ':'
        input.form-control(type=text, name=name, placeholder=placeholder, ng-model=model)

mixin labeledTextArea(name, model, rows, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            textarea.form-control(type='text', rows=rows, name=name, placeholder=placeholder, ng-model=model)

mixin fullWidthTextArea(name, model, rows, placeholder)
    .form-group
        textarea.form-control(type='text', rows=rows, name=name, placeholder=placeholder, ng-model=model, ui-tinymce="tinymceOptions")

.row.l-section.result-content(pending="!userResource.$resolved")
    .col-xxs-12.col-xs-12
        button.btn.btn-danger.pull-right(type="submit" ng-click="view()" ng-class="{'btn-small' : viewport.xs}") Done
    .col-xxs-12.col-xs-12
        br
    .col-xxs-12.col-xs-12
        .row
            .col-xs-12.cat.decor
                form.form-horizontal(role="form")
                    +labeledInput('Name', 'userResource.Name', 'e.g. Cloak of Resistance +1')
                    +labeledInput('Source', 'userResource.Source', 'e.g. Pathfinder Core Rulebook')
                    +labeledInput('Aura', 'userResource.Aura', 'e.g. faint abjuration')
                    +labeledInput('CL', 'userResource.CL', 'e.g. 5')
                    .form-group
                        label.col-xs-2.control-label Group:
                        .col-xs-10
                            select.form-control#type(ng-model='userResource.Group')
                                option(value='Armor') Armor
                                option(value='Art Object') Art Object
                                option(value='Artifact') Artifact
                                option(value='Cursed') Cursed
                                option(value='Gem') Gem
                                option(value='Legendary Weapon') Legendary Weapon
                                option(value='Oil') Oil
                                option(value='Potion') Potion
                                option(value='Ring') Ring
                                option(value='Rod') Rod
                                option(value='Scroll') Scroll
                                option(value='Staff') Staff
                                option(value='Wand') Wand
                                option(value='Weapon') Weapon
                                option(value='Wondrous Item') Wondrous Item
                    +labeledInput('Spell', 'userResource.SpellName', 'e.g. Magic fang')
                    .form-group
                        label.col-xs-2.control-label Slot:
                        .col-xs-10
                            select.form-control#type(ng-model='userResource.Slot')
                                option(value='amulet') Amulet
                                option(value='armor') Armor
                                option(value='arms') Arms
                                option(value='belt') Belt
                                option(value='body') Body
                                option(value='chest') Chest
                                option(value='eyes') Eyes
                                option(value='feet') Feet
                                option(value='hands') Hands
                                option(value='head') Head
                                option(value='headband') Headband
                                option(value='neck') Neck
                                option(value='ring') Ring
                                option(value='shield') Shield
                                option(value='shoulders') Shoulders
                                option(value='wrists') Wrists
                                option(value='slotless') Slotless
                    +labeledInput('Weight', 'userResource.Weight', 'e.g. 1 lb.')
                    +labeledInput('Price', 'userResource.Price', 'e.g. 1000')
                    .form-group
                        label.col-xs-2.control-label Price Unit:
                        .col-xs-10
                            select.form-control#type(ng-model='userResource.PriceUnit')
                                option(value='cp') cp
                                option(value='sp') sp
                                option(value='gp') gp
                                option(value='pp') pp
                    +labeledTextArea('Requirements', 'userResource.Requirements', 5, "e.g. Craft Wondrous Item, resistance, creator's caster level must be at least three times the cloak's bonus.")
                    +labeledInput('Cost', 'userResource.Cost', "e.g. 500")
                    .form-group
                        label.col-xs-2.control-label Cost Unit:
                        .col-xs-10
                            select.form-control#type(ng-model='userResource.CostUnit')
                                option(value='cp') cp
                                option(value='sp') sp
                                option(value='gp') gp
                                option(value='pp') pp
                    +labeledTextArea('Description', 'userResource.Description', 15, 'e.g. Flecks of silver or steel are often sown amid the fabric of these magical cloaks. This garment offers magical protection in the form of a +1 to +5 resistance bonus on all saving throws (Fortitude, Reflex, and Will).')
