
mixin labeledInput(name, model, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            input.form-control(type=text, name=name, placeholder=placeholder, ng-model=model)

mixin labeledTextArea(name, model, rows, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            textarea.form-control(type='text', rows=rows, name=name, placeholder=placeholder, ng-model=model)

.row
    .col-xs-10.l-section.l-shadow.search-result.user-monster(ng-controller="UserMonsterController", fade-in-fade-out="startFade")
        .row.heading.result-heading
            .col-xs-8.name-container
                form.form-horizontal(role="form")
                    +labeledInput('Name', 'e.g. Doombringer', 'userMonster.Name')
                    +labeledInput('Source', 'e.g. The Slayers of the Winter Witch', 'userMonster.Source')
            .col-xs-4.cr-container
                .row
                    .col-xs-12
                        form.form-horizontal(role="form")
                            .form-group
                                label.col-xs-2.control-label CR:
                                .col-xs-10
                                    input.form-control(type='text', name='CR', placeholder='1', ng-model='userMonster.CR')
                            .form-group
                                label.col-xs-2.control-label XP:
                                .col-xs-10
                                    input.form-control(type='text', name='XP', placeholder='400', ng-model='userMonster.XP')
                .row
                    .col-xs-12.l-no-padding
                        .btn-container
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy')
                                i.icon.fa.fa-copy
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Settings')
                                i.icon.fa.fa-cogs
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-3.is-pointer(title='Zap')
                                i.icon.fa.fa-flash
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Delete monster', on-confirm="deleteUserMonster()", confirm-click="Are you sure ?", confirm-title="Delete monster")
                                i.icon.fa.fa-times
        .row.l-section.result-content
            .col-xs-12
                form.form-horizontal(role="form")
                    +labeledTextArea("Description", "e.g. With eyes blazing red and magical runes glowing on its horns, this mighty beast has the body of a man and the head of a bull.", "userMonster.VisualDescription", 5)
                    +labeledInput("Gender", "e.g. male", "userMonster.Gender")
                    +labeledInput("Race", "e.g. minotaur", "userMonster.Race")
                    // FIXME: parse ClassString -> Classes
                    +labeledInput("Classes", "e.g. Cleric of Urgathoa 3", "userMonster.ClassesString")
                    +labeledInput("Alignment", "e.g. CE", "userMonster.Alignment")
                    +labeledInput("Size", "e.g. Large", "userMonster.Size")
                    +labeledInput("Type", "e.g. Outsider", "userMonster.Type")
                    +labeledInput("SubType", "e.g. (native)", "userMonster.SubType")
                    +labeledInput("Init", "e.g. +4", "userMonster.Init")
                    +labeledInput("Senses", "e.g. darkvision 60 ft.; Perception +14", "userMonster.Senses")
            .col-xs-12
                .row
                    .col-xs-12.cat.decor
                        legend.t-legend.t-title Offense
                        form.form-horizontal(role="form")
                            +labeledInput("Speed", "e.g. 30 ft., fly 60 ft. (good)", "userMonster.Speed")
                            +labeledTextArea("Melee", "e.g. greataxe +9/+4 (3d6+6/x3) and gore +4 (1d6+2)", "userMonster.Melee", 3)
                            +labeledInput("Space", "e.g. 10 ft.", "userMonster.Space")
                            +labeledInput("Reach", "e.g. 10 ft.", "userMonster.Reach")
                            +labeledTextArea("Special Attacks", "e.g. breath weapon (30-ft. cone, 6d6 fire damage plus fumes, Reflex DC 19 half, usable every 1d4 rounds)", "userMonster.SpecialAttacks", 3)
                            +labeledTextArea("Spells Known", "e.g. (CL 3rd; concentration +5); 1st (5/day)-enlarge person, hypnotism (DC 14), magic missile, obscuring mist; 0 (at will)-arcane mark, detect magic, mage hand, mending, read magic", "userMonster.SpellsKnown", 3)
                            +labeledInput("Bloodline", "e.g. draconic (green)", "userMonster.Bloodline")
                            +labeledTextArea("Spells Prepared", "e.g. (CL 3rd; concentration +6); 2nd-mirror image, scorching ray; 1st-magic missile, shield, shocking grasp; 0-(at will)-daze (DC 13), detect magic, light, resistance", "userMonster.SpellsPrepared", 3)
                            // FIXME: this must be sanitized
                            +labeledTextArea("Spells-Like Abilities", "e.g. (CL 5th; concentration +6); 3/day—cause fear (DC 12), shatter (DC 13); 1/day—summon (level 1, 1 abrikandilu 50%) 0-(at will)-daze (DC 13), detect magic, light, resistance", "userMonster.SpellLikeAbilities", 3)
                    .col-xs-12.decor
                        legend.t-legend.t-title Defense
                        ul.list-unstyled
                            li
                                span
                                    strong
                                        abbr(title='Armor Class') AC
                                    | &nbsp;{{userMonster.AC}}
                            li
                                span
                                    strong HP
                                    | &nbsp;{{userMonster.HP}} {{userMonster.HD}}
                            li
                                span
                                    strong Fort
                                    | &nbsp;{{userMonster.Fort}},
                                span
                                    strong Ref
                                    | &nbsp;{{userMonster.Ref}},
                                span
                                    strong Will
                                    | &nbsp;{{userMonster.Will}}
                            li(ng-if='userMonster.DR')
                                span
                                    strong DR
                                    | &nbsp;{{userMonster.DR}};
                            li(ng-if='userMonster.Immune')
                                span
                                    strong Immune
                                    | &nbsp;{{userMonster.Immune}};
                            li(ng-if='userMonster.Resist')
                                span
                                    strong Resist
                                    | &nbsp;{{userMonster.Resist}};
                            li(ng-if='userMonster.Weaknesses')
                                span
                                    strong Weaknesses
                                    | &nbsp;{{userMonster.Weaknesses}};
                            li(ng-if='userMonster.SR')
                                span
                                    strong SR
                                    | &nbsp;{{userMonster.SR}}
                            .col-xxs-12.col-xs-12
                .row
                    .col-lg-6.cat.decor
                        legend.t-legend.t-title Statistics
                        ul.list-unstyled
                            li
                                span
                                    strong Str
                                    | &nbsp;{{userMonster.Str}},
                                span
                                    strong Dex
                                    | &nbsp;{{userMonster.Dex}},
                                span
                                    strong Con
                                    | &nbsp;{{userMonster.Con}},
                                span
                                    strong Int
                                    | &nbsp;{{userMonster.Int}},
                                span
                                    strong Wis
                                    | &nbsp;{{userMonster.Wis}},
                                span
                                    strong Cha
                                    | &nbsp;{{userMonster.Cha}}
                            li
                                span
                                    strong Base Atk
                                    | &nbsp;{{userMonster.BaseAtk}};
                                span
                                    strong CMB
                                    | &nbsp;{{userMonster.CMB}};
                                span
                                    strong CMD
                                    | &nbsp;{{userMonster.CMD}}
                            li(ng-if='userMonster.Feats')
                                span
                                    strong Feats&nbsp;
                                    span(linkify="userMonster.Feats",linkify-type="feat", mythic="userMonster.Mythic")
                            li(ng-if='userMonster.Skills || userMonster.RacialMods')
                                span(ng-if='userMonster.Skills')
                                    strong Skills
                                    | &nbsp;{{userMonster.Skills}}
                                span(ng-if='userMonster.RacialMods')
                                    strong Racial Modifiers
                                    | &nbsp;{{userMonster.RacialMods}}
                            li(ng-if='userMonster.Languages')
                                span
                                    strong Languages
                                    | &nbsp;{{userMonster.Languages}}
                            li(ng-if='userMonster.SQ')
                                span
                                    strong SQ
                                    | &nbsp;{{userMonster.SQ}}
                    .col-lg-6.cat.decor(ng-if='userMonster.Environment || userMonster.Organization || userMonster.Treasure')
                        div
                            legend.t-legend.t-title Ecology
                        div
                            ul.list-unstyled
                                li(ng-if='userMonster.Environment')
                                    span
                                        strong Environment
                                        | &nbsp;{{userMonster.Environment}}
                                li(ng-if='userMonster.Organization')
                                    span
                                        strong Organization
                                        | &nbsp;{{userMonster.Organization}}
                                li(ng-if='userMonster.Treasure')
                                    span
                                        strong Treasure
                                        | &nbsp;{{userMonster.Treasure}}
            .col-xxs-12.col-xs-12.cat.decor(ng-if='userMonster.SpecialAbilitiesSafe')
                span
                    legend.t-legend.t-title Special Abilities
                    // FIXME Use jQuery to change the <h5> tags into <p> or <div>
                    div(ng-bind-html='userMonster.SpecialAbilitiesSafe')
            .col-xxs-12.col-xs-12.cat.decor(ng-if='userMonster.Description')
                legend.t-legend.t-title Description
                div(ng-bind-html='userMonster.DescriptionSafe')