
mixin labeledInput(name, model, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            input.form-control(type=text, name=name, placeholder=placeholder, ng-model=model)

mixin labeledTextArea(name, model, rows, placeholder)
    .form-group
        label.col-xs-2.control-label= name + ':'
        .col-xs-10
            textarea.form-control(type='text', rows=rows, name=name, placeholder=placeholder, ng-model=model)

.row
    .col-xs-10.l-section.l-shadow.search-result.user-monster(ng-controller="UserMonsterController", fade-in-fade-out="startFade")
        .row.heading.result-heading
            .col-xs-8.name-container
                form.form-horizontal(role="form")
                    +labeledInput('Name', 'userMonster.Name', 'e.g. Doombringer')
                    +labeledInput('Source', 'userMonster.Source', 'e.g. The Slayers of the Winter Witch')
            .col-xs-4.cr-container
                .row
                    .col-xs-12
                        form.form-horizontal(role="form")
                            .form-group
                                label.col-xs-2.control-label CR:
                                .col-xs-10
                                    input.form-control(type='text', name='CR', placeholder='1', ng-model='userMonster.CR')
                            .form-group
                                label.col-xs-2.control-label XP:
                                .col-xs-10
                                    input.form-control(type='text', name='XP', placeholder='400', ng-model='userMonster.XP')
                .row
                    .col-xs-12.l-no-padding
                        .btn-container
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy')
                                i.icon.fa.fa-copy
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Settings')
                                i.icon.fa.fa-cogs
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-3.is-pointer(title='Zap')
                                i.icon.fa.fa-flash
                            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Delete monster', on-confirm="deleteUserMonster()", confirm-click="Are you sure ?", confirm-title="Delete monster")
                                i.icon.fa.fa-times
        .row.l-section.result-content
            .col-xs-12
                form.form-horizontal(role="form")
                    +labeledTextArea("Description", "userMonster.VisualDescription", 5, "e.g. With eyes blazing red and magical runes glowing on its horns, this mighty beast has the body of a man and the head of a bull.")
                    +labeledInput("Gender", "userMonster.Gender", "e.g. male")
                    +labeledInput("Race", "userMonster.Race", "e.g. minotaur")
                    // FIXME: parse ClassString -> Classes
                    +labeledInput("Classes", "userMonster.ClassesString", "e.g. Cleric of Urgathoa 3")
                    +labeledInput("Alignment", "userMonster.Alignment", "e.g. CE")
                    +labeledInput("Size", "userMonster.Size", "e.g. Large")
                    +labeledInput("Type", "userMonster.Type", "e.g. Outsider")
                    +labeledInput("SubType", "userMonster.SubType", "e.g. (native)")
                    +labeledInput("Init", "userMonster.Init", "e.g. +4")
                    +labeledInput("Senses", "userMonster.Senses", "e.g. darkvision 60 ft.; Perception +14")
            .col-xs-12
                .row
                    .col-xs-12.cat.decor
                        legend.t-legend.t-title Offense
                        form.form-horizontal(role="form")
                            +labeledInput("Speed", "userMonster.Speed", "e.g. 30 ft., fly 60 ft. (good)")
                            +labeledTextArea("Melee", "userMonster.Melee", 3, "e.g. greataxe +9/+4 (3d6+6/x3) and gore +4 (1d6+2)")
                            +labeledInput("Space", "userMonster.Space", "e.g. 10 ft.")
                            +labeledInput("Reach", "userMonster.Reach", "e.g. 10 ft.")
                            +labeledTextArea("Special Attacks", "userMonster.SpecialAttacks", 3, "e.g. breath weapon (30-ft. cone, 6d6 fire damage plus fumes, Reflex DC 19 half, usable every 1d4 rounds)")
                            +labeledTextArea("Spells Known", "userMonster.SpellsKnown", 3, "e.g. (CL 3rd; concentration +5); 1st (5/day)-enlarge person, hypnotism (DC 14), magic missile, obscuring mist; 0 (at will)-arcane mark, detect magic, mage hand, mending, read magic")
                            +labeledInput("Bloodline", "userMonster.Bloodline", "e.g. draconic (green)")
                            +labeledTextArea("Spells Prepared", "userMonster.SpellsPrepared", 3, "e.g. (CL 3rd; concentration +6); 2nd-mirror image, scorching ray; 1st-magic missile, shield, shocking grasp; 0-(at will)-daze (DC 13), detect magic, light, resistance")
                            // FIXME: this must be sanitized
                            +labeledTextArea("Spells-Like Abilities", "userMonster.SpellLikeAbilities", 3, "e.g. (CL 5th; concentration +6); 3/day—cause fear (DC 12), shatter (DC 13); 1/day—summon (level 1, 1 abrikandilu 50%) 0-(at will)-daze (DC 13), detect magic, light, resistance")
                    .col-xs-12.decor
                        legend.t-legend.t-title Defense
                        form.form-horizontal(role="form")
                            +labeledInput("AC", "userMonster.AC", "e.g. AC 13, touch 13, flat-footed 12")
                            +labeledInput("HP", "userMonster.HP", "e.g. 52")
                            +labeledInput("HD", "userMonster.HD", "e.g. (3d8+15)")
                            +labeledInput("Fort", "userMonster.Fort", "e.g. 4")
                            +labeledInput("Ref", "userMonster.Ref", "e.g. 2")
                            +labeledInput("Will", "userMonster.Will", "e.g. 3")
                            +labeledInput("DR", "userMonster.DR", "e.g. 5/cold iron")
                            +labeledInput("Immune", "userMonster.Immune", "e.g. construct traits, magic")
                            +labeledInput("Resist", "userMonster.Resist", "e.g. cold 10")
                            +labeledInput("Weaknesses", "userMonster.Weaknesses", "e.g. vulnerability to fire")
                            +labeledInput("SR", "userMonster.SR", "e.g. 11")
                .row
                    .col-lg-6.cat.decor
                        legend.t-legend.t-title Statistics
                        ul.list-unstyled
                            li
                                span
                                    strong Str
                                    | &nbsp;{{userMonster.Str}},
                                span
                                    strong Dex
                                    | &nbsp;{{userMonster.Dex}},
                                span
                                    strong Con
                                    | &nbsp;{{userMonster.Con}},
                                span
                                    strong Int
                                    | &nbsp;{{userMonster.Int}},
                                span
                                    strong Wis
                                    | &nbsp;{{userMonster.Wis}},
                                span
                                    strong Cha
                                    | &nbsp;{{userMonster.Cha}}
                            li
                                span
                                    strong Base Atk
                                    | &nbsp;{{userMonster.BaseAtk}};
                                span
                                    strong CMB
                                    | &nbsp;{{userMonster.CMB}};
                                span
                                    strong CMD
                                    | &nbsp;{{userMonster.CMD}}
                            li(ng-if='userMonster.Feats')
                                span
                                    strong Feats&nbsp;
                                    span(linkify="userMonster.Feats",linkify-type="feat", mythic="userMonster.Mythic")
                            li(ng-if='userMonster.Skills || userMonster.RacialMods')
                                span(ng-if='userMonster.Skills')
                                    strong Skills
                                    | &nbsp;{{userMonster.Skills}}
                                span(ng-if='userMonster.RacialMods')
                                    strong Racial Modifiers
                                    | &nbsp;{{userMonster.RacialMods}}
                            li(ng-if='userMonster.Languages')
                                span
                                    strong Languages
                                    | &nbsp;{{userMonster.Languages}}
                            li(ng-if='userMonster.SQ')
                                span
                                    strong SQ
                                    | &nbsp;{{userMonster.SQ}}
                    .col-lg-6.cat.decor(ng-if='userMonster.Environment || userMonster.Organization || userMonster.Treasure')
                        div
                            legend.t-legend.t-title Ecology
                        div
                            ul.list-unstyled
                                li(ng-if='userMonster.Environment')
                                    span
                                        strong Environment
                                        | &nbsp;{{userMonster.Environment}}
                                li(ng-if='userMonster.Organization')
                                    span
                                        strong Organization
                                        | &nbsp;{{userMonster.Organization}}
                                li(ng-if='userMonster.Treasure')
                                    span
                                        strong Treasure
                                        | &nbsp;{{userMonster.Treasure}}
            .col-xxs-12.col-xs-12.cat.decor(ng-if='userMonster.SpecialAbilitiesSafe')
                span
                    legend.t-legend.t-title Special Abilities
                    // FIXME Use jQuery to change the <h5> tags into <p> or <div>
                    div(ng-bind-html='userMonster.SpecialAbilitiesSafe')
            .col-xxs-12.col-xs-12.cat.decor(ng-if='userMonster.Description')
                legend.t-legend.t-title Description
                div(ng-bind-html='userMonster.DescriptionSafe')